.navbar{
    margin-bottom: 0px;
    height:56px;
}
.carousel .item{
    min-height: 280px; 
}
.carousel .item img{
    width:100%;
    height:650px;
}
.phone{
    background: #222;
    height:49px;
    color: white;
    border-right: 1 px solid white !important
}
.fax{
    background:#222;
    height:49px;
    color: white;
    border-right: 1 px solid white
}
.addr{
    background:#222;
    height:49px;
    color:white;
    border-right: 1 px solid white
}