<h2>Registration Form</h2>

<form>
  <div class="container">
    <div class="imgcontainer">
      <img src="././assets/img/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
    <mat-form-field class="example-full-width" style="width:429px">
      <input matInput placeholder="Username">
    </mat-form-field><br>
    <mat-form-field class="example-full-width" style="width:429px">
        <input matInput placeholder="Email">
    </mat-form-field><br>
    <mat-form-field class="example-full-width" style="width:429px">
      <input matInput placeholder="New Password">
    </mat-form-field><br>
    <mat-form-field class="example-full-width" style="width:429px">
        <input matInput placeholder="Confirm Password">
    </mat-form-field><br>
  </div>
</form>


